*{
    background-color: #FFFFFF;
    


}
.anabaslik{
  
    font-family: 'Open Sans', arial, sans-serif,;
    font-size:22px; 
    color:rgb(43, 39, 39);
    letter-spacing: 2px;
   text-decoration: none;
    margin: auto;
     text-align: center;
    padding:7px;
   
    
   
}